doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src="/socket.io/socket.io.js")
    script(src="/jquery/jquery.min.js")
    script(src="/javascripts/app.js")
    script(src="/bootstrap/js/bootstrap.js")
  body
    block content